<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFo/>   
     <link href=" css/styles.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0">
</head>

<body>
    <ul>
        <li><a href="./traktor1.html">ИСПОЛЬЗОВАНИЕ СОБЫТИЙ НА JS</a></li>
        <li ><a href="./traktor2.html">СОЗДАНИЕ ТАБЛИЦЫ НА JS</a></li>
        <li ><a href="./traktor3.html">ПДД (СОЗДАНИЕ ЭЛЕМЕНТОВ И ДОСТУП К НИМ НА JS)</a></li>
        <li ><a href="./traktor4.html">ПДД (Атрибуты и свойства) </a></li>
    </ul>
</body>

</html>